<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @bro.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @bro.lastname %>
</p>


<%= link_to 'Edit', edit_bro_path(@bro) %> |
<%= link_to 'Back', bros_path %>
