<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @moustach.title %>
</p>

<p>
  <b>Description:</b>
  <%= @moustach.description %>
</p>


<%= link_to 'Edit', edit_moustach_path(@moustach) %> |
<%= link_to 'Back', moustaches_path %>
